<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/main.css" />    
    <title>CNN Exam</title>
</head>
<body>
    <div id="container" ng-app="tdApp" class="containerMain container-fluid">        
        <div class="pagination-centered">
        <section class="headerTop row gray">
            <div class="col-xs-3"><lable>Users:</lable><span id="numberCountTiger" class="numberCount">&#160;</span></div>
            <div class="col-xs-3"><lable>Photo Albums:</lable><span id="numberCountMonkey" class="numberCount">&#160;</span></div>
            <div class="col-xs-3"><lable>Items in Album:</lable><span id="numberCountSnake" class="numberCount">&#160;</span></div>
            <div class="col-xs-3"><lable>Album Photo List:</lable><span id="numberCountSnake" class="numberCount">&#160;</span></div>
        </section>    
        <section ng-controller="tdCtrl" class="row">
            <div id="user" class="col-xs-3">
                <li 
                    ng-repeat="(key, value) in users" 
                    ng-click="onClickGetAlbums(value.id)"
                    class="{{key % 2 == 0 ? 'evenRow' : 'oddRow'}}"                    
                    >
                    {{value.name}}
                </li>
            </div>
            <div id="thumbnailPhotoAlbums" class="col-xs-3">
                <li ng-repeat="(key, value) in albums" class="{{key % 2 == 0 ? 'evenRow' : 'oddRow'}}">
                    <div class="border">
                        <span 
                            class="override thumbnail" 
                            style="background-image:url({{value.thumbnailUrl ? value.thumbnailUrl : ''}})"
                            ng-click="onClickGetPhotos(value.albumId)"
                            >    
                            </span>
                        <p class="">{{value.title}}</p>                       
                        <p class="">{{value.albumId}}</p>                       
                    </div>
                </li>
            </div>
            <div id="itemsInPhotoAlbum" class="col-xs-3">
                <li> 
                    <span ng-repeat="(key, value) in photoUrls"
                        class="override thumbnail" 
                        style="background-image:url({{value.url ? value.url : ''}})"
                    >    
                    </span>
                </li>                
            </div>
            <div id="albumInPhotoList" class="col-xs-3">Album in Photo List</div>
        </section> <!-- End .row -->
        </div> <!-- End div.pagination-centered -->
    </div>
    <script data-main="scripts/config" type="text/javascript" src="node_modules/requirejs/require.js"></script>     
</body>
</html>