.row li{
    list-style-type:none;
    cursor:pointer;
}
.oddRow{
    background-color:#F9EFEF;
}
.evenRow{
    background-color:#CEC2C2;
 }
.floatRight{
    float:right;
}
.floatLeft{
    float:left;
}
.clearRight{
    clear:right;
}
.clearLeft{
    clear:left;
}
.clearAll{
    clear:both;
}
.border{
    border:1px solid #CCCCCC;
}

/* Begin layout */
.containerMain{
    margin:0 3%;
}
.headerTop{    
    height:30px;
}

.colLeft, .colCenter, .colRight{    
    height:400px;   
}
.colLeft{
    padding-top:180px;
}

/* Begin test colors */
.maroon{
    color:#770909;
}
.gray{
    background-color:#CCCCCC;
}
.red{
    background-color:#880000;
}
.green{
    background-color:#008800;
}
.blue{
    background-color:#000088;
}
/* End test colors */
